Source: gntp-send
Section: net
Priority: optional
Maintainer: Kentaro Hayashi <hayashi@clear-code.com>
Build-Depends:
 debhelper (>= 11),
 dpkg-dev (>= 1.16.0),
Standards-Version: 4.1.3
Homepage: https://github.com/mattn/gntp-send

Package: gntp-send
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Command line application to send growl message with GNTP
 Growl is a notification system for Mac OS X. It uses GNTP (Growl
 Notification Transport Protocol) for notification.
 .
 gntp-send is a command line tool which supports GNTP.
